/* Start: Home */
.home{
    display: flex;
    /* quan trá»ng */
    flex-direction: column;
    height: 100vh;
}

/* Header */
.home_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    
}

/* a ~ Link */
.home_header a{
    margin-right: 20px;
    text-decoration: inherit;
    font-size: 15px;
    color: rgba(0,0,0,0.87);
}

.home_header a:hover{
    color: blue;
}

/* HeaderRight */
.home_headerRight{
    display: flex;
    align-items: center;
    min-width: 13vw;
    justify-content: space-between;
}

.home_headerRight > .MuiSvgIcon-root{
    margin-right: 20px;
}
    

/* Body */
/* Logo */
.home_body{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: 10%;
}

.home_body > img{
    object-fit: contain;
    height: 300px;
}
/* SearchBar */
    

/* End: Home */
    
